<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.streambooru.app">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="StreamBooru"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <activity
      android:name="com.streambooru.app.MainActivity"
      android:exported="true"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Deep link targets for Discord OAuth return -->
      <intent-filter android:autoVerify="false">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Login deep link: streambooru://oauth/discord?token=... -->
        <data android:scheme="streambooru" android:host="oauth" android:pathPrefix="/discord" />
        <!-- Link deep link: streambooru://oauth/linked?linked=1 -->
        <data android:scheme="streambooru" android:host="oauth" android:pathPrefix="/linked" />
      </intent-filter>
    </activity>

    <!-- Optional: FileProvider if you later add in-app APK install or sharing -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
  </application>
</manifest>